.loading-screen {
    position: absolute;
    display: none;
    top: 0;
    left:0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #6699CC;
    text-align: center;
    z-index: 9999;
}

.loading-icon {
    position: relative;
    margin: auto;
    top: 45%;
}

.loading-text {
    position: relative;
    text-align: center;
    margin: auto;
    top: 45%;
}
/* 点滅 */
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}