.toastr {
    text-align: center;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 350px;
    height: 100px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(50,50,50,1);

    z-index: 9999;
    &-success {
        background-color: rgb(139, 255, 151);
    }
    &-info {
        background-color: rgb(62, 226, 255);
    }
    &-warn {
        background-color: rgb(239, 253, 49);
    }
    &-error {
        background-color: rgb(253, 49, 49);
    }

    &-text {
        text-indent: 2em;;
        font-weight: lighter;
        color: white;
        text-shadow: 1px 1px 4px rgb(10,10,10);
        position: absolute;
        text-align: left;
        width: 100%;
        top: 25%;
    }

}

.toastr-close {
    line-height: 1.2em;
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    border: solid 1px gray;
    border-radius: 10px;
    cursor: pointer;
}